@font-face {
  font-family: myfont;
  src: url(assets/fonts/Rubik-Black.ttf);
}

body {
  margin: 0;
  height: 100vh;
  background-color: #181818;
  overflow: hidden;
}

#top-bar {
  height: 40px;
  background: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid rgba(255, 0, 0, 0.75);
  box-shadow: 0px 2px 15px 5px rgba(255, 0, 0, 0.75);
}

h2 {
  margin-left: 5px;
  color: white;
  font-family: Arial, sans-serif;
}

.main-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.left-sidebar {
  width: 350px;
  height: 800px;
  background-color: #282828;
  border-radius: 20px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}


.left-sidebar p{
font-size: 15px;
color: #ccc;
}

.left-sidebar p i{
  font-size: 20px;
  font-weight: 100;
  color: white;
  }

.image-holder {
  width: 300px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #181818;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
}

#imagePreview {
  display: none;
}

.image-holder.dragover {
  background-color: rgba(255, 64, 64, 0.2);
  border: 2px dashed #ff4040;
}

.right-sidebar {
  width: 350px;
  height: 800px;
  background-color: #282828;
  border-radius: 20px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: white;
  font-family: Arial, sans-serif;
}

#tpackTitle {
  width: 80%;
  height: 40px;
  border: 2px solid #ff4040;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  background: #181818;
  color: white;
}

.right-sidebar button {
  width: 80%;
  height: 40px;
  cursor: pointer;
  background: #ff4040;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.3s;
}

.right-sidebar button:hover {
  background: #ff2020;
  box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}

.maker-container {
  width: 1000px;
  height: 800px;
  background-color: #282828;
  border-radius: 20px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 180px;
  align-items: center;
  background: #343434;
  border-radius: 20px 0px 0px 20px;
  justify-content: space-between;
}

.maker-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: #181818;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #ff4040;
  box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}

#colorPicker {
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(2, 78px);
  grid-gap: 12px;
  margin-top: -2px;
}

.tools-grid button {
  width: 78px;
  height: 78px;
  font-size: 30px;
  font-weight: lighter;
  background: #181818;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tools-grid button:hover {
  background: #ff4040;
  box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}

#pixelCanvas {
  display: grid;
  width: 800px;
  height: 798px;
  margin-left: auto;
  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
  grid-gap: 0;
  padding: 0;
}

.pixel {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.maker-save #makerTitle {
  width: 80%;
  height: 40px;
  border: 2px solid #ff4040;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  background: #181818;
  color: white;
  margin-bottom: 10px;
}

.maker-save button {
  width: 80%;
  height: 40px;
  cursor: pointer;
  background: #ff4040;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}

.maker-save button:hover {
  background: #ff2020;
  box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}


.items-container {
  margin-top: 40px;
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  position: relative;
}

/* Keep search bar and copy message fixed */
#searchBar, #copyMessage {
  width: calc(100% - 20px);
  padding: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 3px;
  border: 2px solid #ff4040;
  border-radius: 10px;
  background: #282828;
  color: white;
  font-size: 16px;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
}

#copyMessage {
  text-align: center;
  font-weight: bold;
  display: none;
  color: #ff4040;
}

.scroll-list {
  max-height: 300px;
  overflow-y: auto;
}

#itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

#itemsList li {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#itemsList li:hover {
  background-color: #ff4040;
  box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}




/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#previewContainer{
  width: 300px;
  height: 300px;
  margin-top: 40px;
}


.previewBtns {
 width: 90%;
 height: 50px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.previewBtns button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: #181818;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.previewBtns button:hover {
background: #ff4040;
box-shadow: 0px 0px 10px rgba(255, 64, 64, 0.7);
}